{% extends 'base.html' %}

{% block content %}
<table>
  <th>
    Request Date
  </th>
  <th>
    Requestor
  </th>
  <th>
    PNM Name
  </th>
  <th>
    PNM School
  </th>
  <th>
    Nickname Requested
  </th>
  <th>
    Nickname Meaning
  </th>
  <th>
    Current Status
  </th>
  <th>
    Action
  </th>
  {% if object_list %}
  {% for r in object_list %}
  <tr>
    <td>
      {{ r.req_date }}
    </td>
    <td>
      {{ r.requestor.first_name }}
      {{ r.requestor.last_name }}
    </td>
    <td>
      {{ r.pnm.first_name }}
      {{ r.pnm.last_name }}
    </td>
    <td>
      {{ r.pnm.process_chapter.chapter_school }}
    </td>
    <td>
      {{ r.name }}
    </td>
    <td>
      {{ r.nickname_meaning }}
    </td>
    <td>
      {{ r.nickname_approval_status }}
    </td>
    <td>
      <form action="{% url 'nickname_request_update' r.id %}" method="POST">
        {% csrf_token %}
        <input class="btn red" type="submit" value="Approve">
      </form>

      <form action="{% url 'nickname_request_queue' r.id %}" method="POST">
        {% csrf_token %}
        <input class="btn red" type="submit" value="Queue">
      </form>

      <form action="{% url 'nickname_request_deny' r.id %}" method="POST">
        {% csrf_token %}
        <input class="btn red" type="submit" value="Deny">
      </form>

    </td>
  </tr>

  {% endfor %}
  {% else %}
  No Pending Requests
  {% endif %}
</table>

Missing Requests

{% endblock %}