{% extends 'base.html' %}

{% block content %}

{% if object %}
<h1>Edit {{object.name}}'s information</h1>
{% else %}
<h1>Add a Sister</h1>
{% endif %}

<form action="" method="post">
  {% csrf_token %}
  <!-- We must always use this tag in our forms -->
  <table>
    {{ form.as_table }}
  </table>
  <input class="btn green" type="submit" value="{% if object %} Edit {% else %} Add {% endif %}">
</form>


<script>
  var selectEl = document.getElementById('id_status');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}