{% extends 'base.html' %}

{% block content %}

Sister List

<table>
  <th>
    Line #
  </th>
  <th>
    First Name
  </th>
  <th>
    Last Name
  </th>
  <th>
    Nickname
  </th>
  <th>
    Class
  </th>
  <th>
    Crossed
  </th>
  <th>
    Status
  </th>

  {% for sister in object_list %}
  <tr>
    <td>
      {{ sister.line_number }}
    </td>
    <td>
      {{ sister.first_name }}
    </td>
    <td>
      {{ sister.last_name }}
    </td>
    <td>
      {{ sister.nickname }}
    </td>
    <td>
      Class
    </td>
    <td>
      {{ sister.crossing_semester }}
      {{ sister.crossing_year }}
    </td>
    <td>
      {{ sister.status }}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}