<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="{% static 'kpl_sister_nicknames/style.css' %}" />
  <title>Kappa Phi Lambda Nickname Request Portal</title>
</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li>
            <a href="/" class="left brand-logo"><img class="logo" src="{% static 'kpl_sister_nicknames/kplLogo' %}" /></a>
          </li>
        </ul>
        <ul class="right">
          {% if user.is_authenticated %}
          <li><a href="{% url 'chapter_index' %}">Chapters</a></li>
          <li><a href="{% url 'sister_index' %}">Sisters</a></li>
          <li><a href="{% url 'pnm_index' %}">PNMs</a></li>
          <li><a href="{% url 'nickname_request_index' %}">Nickname Requests</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  {% block content %}
  {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">
      All Rights Reserved, &copy; 2022 Kappa Phi Lambda Sorority Incorporated &nbsp;
    </div>
  </footer>
</body>

</html>