$transition-effects: color 1s ease,
    background-color 1s ease;

* {
    box-sizing: border-box;
    margin: 0;
}

.nav-wrapper {
    background-color: #ce0037 !important;

}

.hero {

    max-width: 100vw;
    z-index: -5;
}

body {
    background-color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    padding-top: 0;
    text-align: right;
}

.page-footer {
    background-color: #ce0037
}

a {
    color: red
}

.logo {
    height: 60px;
}

.backgroundImg {
    z-index: -100;
    object-fit: contain;
    height: 90vh;
    width: 100vw;
    background-image: linear-gradient(rgba(208, 14, 14, 0.7), rgba(208, 11, 11, 0.7)),
        url('kappa reveal.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}